
html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* list default style */
.list{
    list-style-type: none;
    font-size: 1.6rem;
}
.button{
    background-color:#FD6E0A;
    border: none;
    border-radius: 0.5rem;
    width: 10rem;
    height: 3.5rem;
    color: white;
    font-weight:700;
}

/* header part */
header{
    background: #FFF8F3;
    width: 100%;
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-size: 10rem 100%, 60rem 35rem;
    background-position: top left, bottom right;
    padding-top: 5rem;
}
/* Navigation bar */
nav{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav>h1{
    color:#181818;
    font-size: 3rem;
    font-weight: 1200;
}
nav h1 span{
    color: #FD6E0A;
    font-size: 3rem;
    font-weight: 1200;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav ul li{
    color:rgba(0,0,0,.5);
}

